<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="icon" href="~/assets/images/plants-store-logo-green.svg" sizes="32x32">
    <link rel="stylesheet" href="~/assets/css/home.css"/>
    @RenderSection("css", required:false)

</head>
<body>
    @await Component.InvokeAsync("Header")

            @RenderBody()

    @await Component.InvokeAsync("Footer")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="~/assets/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/js/pages/home/swinger.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="~/assets/js/home.js"></script>
    @RenderSection("script", required: false)
  </body>
</html>
