
@{
    ViewData["Title"] = "Index";
}



@section css{
    <link rel="stylesheet" href="~/assets/css/productdetail.css" />

}

<main style="background-color: #F8F7F6;">
    <hr>
    <section id="detail-all">
        <div class="detail">
            <div class="container">
                <div class="row">
                    <div class="col-6" style="background-color: white;">
                        <div class="image">
                            <img src="~/assets/images/product/product-detail/cactus2-free-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-6" style="background-color: white;">
                        <div class="desc">
                            <a href="">Cactus</a>
                            <h1>Cleistocactus</h1>
                            <p>$25.00 <span>+ Free Shipping</span></p>
                            <p>Neque porro quisquam est, qui dolore ipsum quia dolor sit amet, consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt lores ta porro ame. Neque porro quisquam est, qui dolore ipsum quia dolor sit amet.</p>
                            <button type="button" class="btn btn-danger">Add To Cart</button>
                            <hr>
                            <p>Category: <a href="">Cactus</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="description">
                        <a href="">Description</a>
                        <p>Neque porro quisquam est, qui dolore ipsum quia dolor sit amet, consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt lores ta porro ame. Neque porro quisquam est, qui dolore ipsum quia dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <hr>
</main>

