@model CompanyEditVM

@{
    ViewData["Title"] = "Edit";
}


@section css{
    <style>


        input {
            font-size: 18px !important;
            font-weight: 600 !important;
        }

    </style>
}

<div class="container my-5">
    <h1 class="text-center mt-3 mb-3">Edit</h1>
    <div class="slider-content" style="width:35%">
        <img style="width:100%" src="~/assets/images/about-page/company/@Model.Image" />
    </div>
    <form style="width: 70%;" class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">
        <label style="padding-left:6px;" for="formFile" class="form-label my-2">Choose an image</label>
        <input class="form-control" id="customFile" asp-for="Photo" />
        <span class="text-danger" asp-validation-for="Photo"></span>
        <div class="form-group">
            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Title</label>
            <input class="form-control mt-3" style="background-color:white; id="customFile" asp-for="Title" />

            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Description</label>
            <input class="form-control mt-3" style="background-color:white;" id="customFile" asp-for="Desc" />

            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Description Left</label>
            <input class="form-control mt-3" style="background-color:white;" id="customFile" asp-for="DescLeft" />

            <label style="padding-left:6px;" for="formFile" class="form-label my-2">Description Right</label>
            <input class="form-control mt-3" style="background-color:white;" id="customFile" asp-for="DescRight" />
        </div>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>


