@model ProductEditVM
@{
	ViewData["Title"] = "Edit";
}

<style>

	.container {
		background-color: #fff;
		padding: 20px;
	}

	.product-image {
		width: 201px;
		height: 190px;
		border-radius: 5px;
	}

	.active-image {
		border: 3px solid greenyellow;
	}

	.image-delete {
		position: relative;
	}

		.image-delete button {
			position: absolute;
			left: 65px;
			top: 157px;
			opacity: 0;
			transition: all 0.4s;
		}

		.image-delete:hover button {
			opacity: 1;
		}



	textarea {
		height: 200px !important;
		font-size: 17px !important;
	}
</style>

<div class="container mt-5">
	@if (Model.Images.Count() != 0)
	{
		<div class="d-flex flex-wrap">
			@foreach (var item in Model.Images)
			{
				<div class="image-delete mx-1">
					<img class="product-image @(item.IsMain ? "active-image": "")" src="~/assets/images/product/@item.Image" alt="Product Image">
					@if (!item.IsMain)
					{
						<button data-id="@item.Id" class="btn btn-danger btn-sm">Delete</button>
					}
				</div>

			}
		</div>

	}

	<form style="width: 70%;" class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">
		<div class="form-group mt-3">
			<label asp-for="Name">Name</label>
			<input asp-for="Name" class="form-control" />
			<span class="text-danger" asp-validation-for="Name"></span>
		</div>


		<div class="form-group">
			<label asp-for="Price">Price</label>
			<input type="number" step="any" asp-for="Price" class="form-control" />
			<span class="text-danger" asp-validation-for="Price"></span>
		</div>

		<div class="form-group mt-3">
			<label for="formFile" class="form-label my-2">Description</label>
			<textarea class="form-control" id="customFile" asp-for="@Model.Description"></textarea>
		</div>
		<div class="form-group">
			<label asp-for="CategoryId">Categories</label>
			<select asp-for="CategoryId" asp-items="@ViewBag.categories" class="form-control">
			</select>
		</div>

		<div class="form-group">
			<label asp-for="Photos">Image</label>
			<input asp-for="Photos" class="form-control">
		</div>

		<button type="submit" class="btn btn-primary mr-2">Submit</button>
		<a class="btn btn-light" asp-action="Index">Back</a>
	</form>
</div>


@section script{
	<script src="~/admin/product.js"></script>

}
