@model ShopVM
@{
    ViewData["Title"] = "Sort";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/shop.css" />
}


<main style="background-color: #F8F7F6;">
    <!-- section banner start -->
    <section id="banner"
             style="background-image: url(/assets/images/shop-page/store-bg.jpg)">
        <div class="banner-wright">
            <h1>Shop</h1>
        </div>

    </section>
    <!-- section banner end -->


    <section id="shop-page">
        <div class="shop-all">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="filt">
                            <div class="filters">
                                <h2>Filter by price</h2>
                                <div class="filter-price">
                                    <div class="range-slider">
                                        <span style="color: #75c32c;">
                                            Price:
                                            <input style="border: none;font-size: 15px;" type="number" value="0"
                                                   min="0" max="120000" />
                                            <span style="margin-left: -50px;">-</span>
                                            <input style="border: none;font-size: 15px;" type="number" value="999"
                                                   min="0" max="120000" />
                                        </span>
                                        <div class="filterBtn">
                                            <button>Filter</button>
                                        </div>

                                        <input value="0" min="0" max="999" step="1" type="range" />
                                        <input value="999" min="0" max="999" step="1" type="range" />
                                    </div>
                                </div>
                            </div>


                            <div class="categories">
                                <h4>Categories</h4>
                                <div class="categoryy">
                                    <div class="row">
                                        @foreach (var item in Model.Category)
                                        {
                                            <div class="col-6">
                                                <a asp-controller="Shop" asp-action="GetProductsByCategory" asp-route-id="@item.Id">@item.Name</a>
                                            </div>

                                            <div class="col-6">
                                                <span>(@item.Products.Count)</span>
                                            </div>
                                        }


                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8">
                        <div class="shop">
                            <div class="go-home">
                                <div class="home">
                                    <a href="home.html">Home /</a>
                                    <span>Plants</span>
                                    <h1>Shop</h1>
                                </div>

                            </div>
                            <div class="sort-tool">
                                <div class="product-count">
                                    <span>Showing the single result</span>
                                </div>
                                <div class="sortt">
                                    <div class="dropdown">

                                        <form>
                                            <select style="outline: none; box-shadow:none; border: groove" id="sort" class="form-select" aria-label="Default select example">
                                                <option value="1">Default sorting</option>
                                                <option value="2">Price: low to high</option>
                                                <option value="3">Price: high to low</option>
                                                <option value="4">Alphabetically, A-Z</option>
                                                <option value="5">Alphabetically, Z-A</option>
                                            </select>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="row product-list">
                                    <partial name="_ProductsPartial" model="@Model.Product" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="empty">
    </div>
    <hr>

    @section script{
        <script src="~/assets/js/shop.js"></script>
    }

</main>


