@model List<Setting>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="text-center">Setting</h1>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Key
                    </th>
                    <th>
                        Value
                    </th>

                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="py-1">
                            @item.Key
                        </td>

                        <td class="py-1">
                            @if (item.Value.Contains("jpg") || item.Value.Contains("png"))
                            {
                                <img style="width:10%" src="~/assets/images/@item.Value" />
                            }
                            else
                            {
                                @item.Value
                            }
                        </td>

                        <td>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

