
@{
    ViewData["Title"] = "Index";
}





@section css{
    <link rel="stylesheet" href="~/assets/css/basket.css" />
}

<main style="background-color: #F8F7F6;">
    <!-- section banner start -->
    <section id="banner"
             style="background-image: url(/assets/images/shop-page/store-bg.jpg)">
        <div class="banner-wright">
            <h1>Your basket page</h1>
        </div>
        
    </section>
    <!-- section banner end -->



    <section id="basket">
        <div class="container">
            <div class="basket-all">
                <div class="empty">
                    <p>Basket cann't empty</p>
                    <a asp-controller="Shop" asp-action="Index">GO TO SHOP PAGE</a>
                </div>

                <div class="cart-table d-none">
                    <h3>Your Basket</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Count</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="~/assets/images/product/product-detail/cactus2-free-img.jpg">
                                </td>
                                <td>Saat1</td>
                                <td><i class="fa-solid fa-minus"></i> <span>1</span> <i class="fa-solid fa-plus"></i></td>
                                <td>110$</td>
                                <td>110$</td>
                                <td>
                                    <button type="submit" class="btn btn-outline-danger delete-basket-item">Delete</button>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                    <div class="grand-total mt-5">
                        <span>Grand total: 110 $</span>
                    </div>
                </div>

            </div>
        </div>
    </section>



</main>

