@model HeaderVM
@{
    ViewData["Title"] = "Default";
}



<header class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="natural">
                    <div class="image">
                        <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/@Model.Logo" alt="" /></a>
                    </div>
                    <div class="name">
                        <a href="">Simply Natural</a>
                    </div>


                    <div class="search-icon">

                        <form action="#" class="hm-searchbox">
                            <input class="input-search" type="text" placeholder="Search Anything..." />
                            <button style="border:none; background-color:transparent;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            
                        </form>
                        
                    </div>


                </div>
            </div>
            <div class="col-lg-5">
                <div class="navigation">
                    <div>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </div>

                    <div class="store">
                        <a asp-controller="Shop" asp-action="Index">Shop</a>

                        <!-- <div class="sub-menu">
                          <a href="">Plants</a>
                          <a href="">Cactus</a>
                        </div> -->
                    </div>

                    <div>
                        <a asp-controller="About" asp-action="Index">About</a>

                    </div>
                    <div>
                        <a asp-controller="Contact" asp-action="Index">Contact Us</a>

                    </div>
                    <div class="account ">
                        <a asp-controller="Account" asp-action="Index">My Account</a>
                        
                        <!-- <div class="login">
                          <a href="">Login</a>
                          <a href="">Register</a>
                        </div> -->
                    </div>
                    <div class="button d-none">
                        <button type="button" class="btn btn-danger">Logout</button>
                    </div>
                    <div class="icon d-flex">
                        <div class="basket">
                            <a asp-controller="Basket" asp-action="Index">
                                <i class="fas fa-shopping-basket"></i>
                                <span class="basket-count">@Model.BasketCount</span>
                            </a>
                        </div>
                        <a asp-controller="Wishlist" asp-action="Index">
                            <i class="fa-regular fa-heart"></i>
                            <span class="wishlist-count">@Model.WishlistCount</span>
                            </a>
                    </div>
                </div>
            </div>
         </div>
       </div>
</header>
